#Lab 2.2: Understand DataFrames
The objective of this lab is to understand how to create dataframes and work with the data in the dataframe

In [61]:
import numpy as np
import pandas as pd

Q1. Describe what the code cell below does:

In [1]:
models = np.array(["Honda Civic", "Toyota Corolla", "Ford Focus", "Audi A4","Mercedes Benz","BMW"]) # pd.Series
colors = np.array(["blue", "white", "blue", "black", "metallic", "metallic"]) 
prices = np.random.randint(10000, 30000, size=len(models))


cars_new=pd.DataFrame({'Model':models, 'Color': colors,'Price': prices} )
cars_new

NameError: name 'np' is not defined

Q2. Describe what the code cell below does:

In [65]:
cars = cars_new.copy()

In [63]:
print(id(cars_new), id(cars))

2390678186096 2391217862080

Q3. Describe what the code cell below does:

In [18]:
cars.rename(index={0:'Car1', 1:'Car2', 2:'Car3', 3:'Car4', 4:'Car5', 5:'Car6'}, inplace = True)

In [66]:
cars_index = cars.rename(index={0:'Car1', 1:'Car2', 2:'Car3', 3:'Car4', 4:'Car5', 5:'Car6'})
print(cars_index)
print()
print(cars)

               Model     Color  Price
Car1     Honda Civic      blue  10516
Car2  Toyota Corolla     white  14009
Car3      Ford Focus      blue  21037
Car4         Audi A4     black  15638
Car5   Mercedes Benz  metallic  26251
Car6             BMW  metallic  14411

            Model     Color  Price
0     Honda Civic      blue  10516
1  Toyota Corolla     white  14009
2      Ford Focus      blue  21037
3         Audi A4     black  15638
4   Mercedes Benz  metallic  26251
5             BMW  metallic  14411

In [19]:
cars

               Model     Color  Price
Car1     Honda Civic      blue  18854
Car2  Toyota Corolla     white  17016
Car3      Ford Focus      blue  10993
Car4         Audi A4     black  22195
Car5   Mercedes Benz  metallic  11561
Car6             BMW  metallic  10976

Q4. Describe what the code cell below does:

In [67]:
cars.columns.values.tolist()
carview = cars[['Model','Color']]
print(carview)

cars.head(6)
cars.tail() #defaul 5 last rows are displayed

            Model     Color
0     Honda Civic      blue
1  Toyota Corolla     white
2      Ford Focus      blue
3         Audi A4     black
4   Mercedes Benz  metallic
5             BMW  metallic

            Model     Color  Price
1  Toyota Corolla     white  14009
2      Ford Focus      blue  21037
3         Audi A4     black  15638
4   Mercedes Benz  metallic  26251
5             BMW  metallic  14411

Q5. Describe what the code cell below does:

In [68]:
cars.iloc[1] #will print the second car in the dataframe


print(cars['Color']=='metallic')
cars[cars['Color']=='metallic']

0    False
1    False
2    False
3    False
4     True
5     True
Name: Color, dtype: bool

           Model     Color  Price
4  Mercedes Benz  metallic  26251
5            BMW  metallic  14411

Q6. Describe what the code cell below does:

In [70]:
(cars['Price'] >= 20000) & (cars['Price'] <= 30000)

0    False
1    False
2     True
3    False
4     True
5    False
Name: Price, dtype: bool

In [ ]:
def find_cars_by_price_range(df, min_price, max_price):
    return df[(df['Price'] >= min_price) & (df['Price'] <= max_price)]  # & == and

price_range_cars = find_cars_by_price_range(cars, 20000, 30000)
price_range_cars

        Model  Color  Price
Car4  Audi A4  black  22195

Q7. Describe what the code cell below does

In [78]:
cars.to_csv("CarsDatabase.csv") # to save without the index column set index=False
new_cars=pd.read_csv("CarsDatabase.csv",index_col=0)
# new_cars=pd.read_csv("CarsDatabase.csv")
new_cars

               Model     Color  Price
0        Honda Civic      blue  10516
1     Toyota Corolla     white  14009
2         Ford Focus      blue  21037
3            Audi A4     black  15638
4      Mercedes Benz  metallic  26251
5                BMW  metallic  14411
Car7      Ford Focus      blue  23890

Q8. Describe what the code cell below does:

In [ ]:
def findAveragePrice(color):
    return cars[cars['Color'].str.lower() == color]['Price'].mean()
findAveragePrice('blue')

np.float64(14923.5)

Q9. Describe what the code cell below does:

In [71]:
new_row = {'Model':'Ford Focus', 'Color':'blue', 'Price':23890}

new_car = pd.DataFrame({'Model':'Ford Focus','Color': 'blue','Price': 23890}, 
                       index=["Car7"])  # Specify the correct index value here

cars = pd.concat([cars, new_car])
print(cars)

findAveragePrice('blue')

               Model     Color  Price
0        Honda Civic      blue  10516
1     Toyota Corolla     white  14009
2         Ford Focus      blue  21037
3            Audi A4     black  15638
4      Mercedes Benz  metallic  26251
5                BMW  metallic  14411
Car7      Ford Focus      blue  23890

np.float64(18481.0)

Q10. Describe what the code cell below does:

In [26]:
sorted_cars = cars.sort_values(by='Price')
sorted_cars

               Model     Color  Price
Car6             BMW  metallic  10976
Car3      Ford Focus      blue  10993
Car5   Mercedes Benz  metallic  11561
Car2  Toyota Corolla     white  17016
Car1     Honda Civic      blue  18854
Car4         Audi A4     black  22195
Car7      Ford Focus      blue  23890

# regular expression

In [56]:
import re

text = "Python is awesome! Python@"
# 在字符串中搜索第一个匹配项，返回 Match 对象（如果匹配成功），否则返回 None
match = re.search(r"Python", text)

if match:
    print("找到匹配项:", match.group())  # 输出: Python
    print(match.start())    # 匹配的起始索引
    print(match.end())      # 匹配的结束索引
    print(match.span())     # 匹配的起止范围
else:
    print("未找到匹配项")

找到匹配项: Python
0
6
(0, 6)

In [49]:
text = "Python is great, and Python is popular!"
# 返回所有匹配的结果（以列表形式
matches = re.findall(r"Python", text)
print(matches)  # 输出: ['Python', 'Python']

['Python', 'Python']

In [ ]:
text = "Python is powerful!"
# 只在字符串开头匹配，若匹配失败则返回 None
match = re.match(r"Python", text)

if match:
    print("匹配成功:", match.group())  # 输出: Python
else:
    print("匹配失败")
# re.match() 只匹配开头，通常用 re.search() 代替

匹配成功: Python

In [44]:
text = "I love Python, Python is amazing!"
#  用新字符串替换匹配的内容
new_text = re.sub(r"Python", "Java", text)
print(new_text)  # 输出: I love Java, Java is amazing!

I love Java, Java is amazing!

In [ ]:
text = "apple,banana;grape orange"
# 根据匹配的模式拆分字符串，返回列表
result = re.split(r"[ ,;]", text)  # 逗号、分号或空格拆分
print(result)  # 输出: ['apple', 'banana', 'grape', 'orange']

['apple', 'banana', 'grape', 'orange']

| **符号** | **描述** | **示例** |
|----------|---------|---------|
| `.`      | 任意单个字符（除换行符） | `a.b` 匹配 `acb`、`a7b` 但不匹配 `ab` |
| `^`      | 匹配字符串的开始 | `^hello` 匹配 `"hello world"` 但不匹配 `"hi hello"` |
| `$`      | 匹配字符串的结束 | `world$` 匹配 `"hello world"` 但不匹配 `"world hello"` |
| `*`      | 匹配前一个字符 **0 次或多次** | `ba*` 匹配 `b`、`ba`、`baa` |
| `+`      | 匹配前一个字符 **1 次或多次** | `ba+` 匹配 `ba`、`baa`，但不匹配 `b` |
| `?`      | 匹配前一个字符 **0 次或 1 次** | `ba?` 匹配 `b` 或 `ba`，但不匹配 `baa` |
| `{n}`    | 恰好匹配前一个字符 `n` 次 | `a{3}` 匹配 `aaa` 但不匹配 `aa` |
| `{n,}`   | 至少匹配 `n` 次 | `a{2,}` 匹配 `aa`、`aaa`、`aaaa` |
| `{n,m}`  | 匹配 `n` 到 `m` 次 | `a{2,4}` 匹配 `aa`、`aaa`、`aaaa` 但不匹配 `a` |
| `[]`     | 匹配括号内的任意字符 | `[abc]` 匹配 `a`、`b` 或 `c` |
| `[^]`    | 匹配 **不在** 方括号内的字符 | `[^abc]` 匹配 除 `a`、`b`、`c` 之外的字符 |
| `\d`     | 匹配 **数字**（等价于 `[0-9]`） | `\d+` 匹配 `123`、`42` |
| `\D`     | 匹配 **非数字**（等价于 `[^0-9]`） | `\D+` 匹配 `abc`、`hello` |
| `\w`     | 匹配 **字母、数字或下划线**（等价于 `[a-zA-Z0-9_]`） | `\w+` 匹配 `hello_123` |
| `\W`     | 匹配 **非字母、数字、下划线** | `\W+` 匹配 `@#$%` |
| `\s`     | 匹配 **空白字符**（空格、制表符、换行符等） | `\s+` 匹配 `"   "` |
| `\S`     | 匹配 **非空白字符** | `\S+` 匹配 `"hello"` |
| `\b`     | **单词边界**，匹配单词的开始或结束 | `\bword\b` 只匹配 `word` 但不匹配 `wording` |
| `\`      | 转义字符，用于匹配元字符 | `\.` 匹配 `.` 而不是任何字符 |

## 示例

In [ ]:
#  检测邮箱格式
email = "us@er@example.com"
pattern = r"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"

if re.match(pattern, email):
    print("合法的邮箱地址")
else:
    print("无效的邮箱地址")

无效的邮箱地址

In [60]:
html = "<h1>Python 正则表达式</h1>"
# match = re.search(r"<h1>(.*?)</h1>", html)
match = re.search(r"<h1>(.+)</h1>", html)
if match:
    print("提取的内容:", match.group())  # 输出: Python 正则表达式

提取的内容: <h1>Python 正则表达式</h1>