#Lab 2.2: Understand DataFrames
The objective of this lab is to understand how to create dataframes and work with the data in the dataframe

In [1]:
import numpy as np
import pandas as pd

Q1. Describe what the code cell below does:

In [7]:
# turn two list into ndarray type
models = np.array(["Honda Civic", "Toyota Corolla", "Ford Focus", "Audi A4","Mercedes Benz","BMW"])
colors = np.array(["blue", "white", "blue", "black", "metallic", "metallic"]) 
# generate random prices, data structure is ndarray
prices = np.random.randint(10000, 30000, size=len(models))

# generate a dataframe from the three ndarrays using pd.DataFrame()
cars_new=pd.DataFrame({'Model':models, 'Color': colors,'Price': prices} )
cars_new

            Model     Color  Price
0     Honda Civic      blue  19062
1  Toyota Corolla     white  15406
2      Ford Focus      blue  18132
3         Audi A4     black  11272
4   Mercedes Benz  metallic  11206
5             BMW  metallic  18555

Q2. Describe what the code cell below does:

In [9]:
# copy the dataframe cars_new, cars and cars_new are the same, but save in different address    
cars = cars_new.copy()

Q3. Describe what the code cell below does:

In [10]:
# rename the index of the dataframe cars, the index is the first column of the dataframe
cars.rename(index={0:'Car1', 1:'Car2', 2:'Car3', 3:'Car4', 4:'Car5', 5:'Car6'}, inplace = True)

Q4. Describe what the code cell below does:

In [21]:
# convert the columns of the dataframe cars to a list
cars.columns.values.tolist()
# create a new dataframe carview, the columns are Model and Color
carview = cars[['Model','Color']]
print(carview)


cars.head(6)
cars.tail() #defaul 5 last rows are displayed

               Model     Color
Car1     Honda Civic      blue
Car2  Toyota Corolla     white
Car3      Ford Focus      blue
Car4         Audi A4     black
Car5   Mercedes Benz  metallic
Car6             BMW  metallic

               Model     Color  Price
Car2  Toyota Corolla     white  15406
Car3      Ford Focus      blue  18132
Car4         Audi A4     black  11272
Car5   Mercedes Benz  metallic  11206
Car6             BMW  metallic  18555

Q5. Describe what the code cell below does:

In [ ]:

cars.iloc[1] #will print the second car in the dataframe


cars[cars['Color']=='metallic']

Q6. Describe what the code cell below does:

In [ ]:

def find_cars_by_price_range(df, min_price, max_price):
    return df[(df['Price'] >= min_price) & (df['Price'] <= max_price)]


price_range_cars = find_cars_by_price_range(cars, 20000, 30000)
price_range_cars

Q7. Describe what the code cell below does

In [ ]:

cars.to_csv("CarsDatabase.csv") # to save without the index column set index=False
new_cars=pd.read_csv("CarsDatabase.csv",index_col=0)
new_cars

Q8. Describe what the code cell below does:

In [ ]:

def findAveragePrice(color):
    return cars[cars['Color'].str.lower() == color]['Price'].mean()
findAveragePrice('blue')

Q9. Describe what the code cell below does:

In [ ]:

new_row = {'Model':'Ford Focus', 'Color':'blue', 'Price':23890}

new_car = pd.DataFrame({'Model':'Ford Focus','Color': 'blue','Price': 23890}, 
                       index=["Car7"])  # Specify the correct index value here

cars = pd.concat([cars, new_car])
cars

findAveragePrice('blue')

Q10. Describe what the code cell below does:

In [ ]:
sorted_cars = cars.sort_values(by='Price')
sorted_cars